/* Logo Font */
@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
/* Text Font */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&display=swap');


@import "tailwindcss";

@theme{
    --color-main: white;
    --color-back: #0D0D0D;
    --color-card: #121212;
    --font-logo: "Days One", sans-serif;
    --font-text: "M PLUS 1", sans-serif;
}

@layer base {
    body{
        @apply bg-back text-main;

    }
}

